body {
    margin: 0px;
    background-color: #080808;
    font-family: "Manrope Variablefont Wght", sans-serif;
    color: #FFFFFF;
}

button {
    background-color: #00808E;
    color: #FFFFFF;
    border-radius: 1rem;
    border-width: 0px;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
}

button:hover {
    background: #00626d;
}

/*======= Header =======*/

.header {
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #161616;
    padding: 10px 20px 10px 20px;
    border-bottom: 1px solid rgba(145, 145, 145, 0.3);
} 

.header .image-container {
    flex: 1;
    height: 100%;
}

.header .image-container img {
    height: 100%;
}

.header p {
    flex: 1;
    font-size: clamp(1.2rem, 4vw, 2rem);
    text-align: center;
    font-family: "Pacifico", cursive;
    color: #00808E;
}

.header .social-icons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: clamp(1.5rem, 5vw, 3rem);
}

/*======= Main =======*/

main {
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.description {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: clamp(2rem, 5vw, 4rem);
    text-align: center;
}

.app-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 1.5rem 0px;
}

.app-container {
    width: clamp(200px, 50vw, 300px);
    padding: 1rem;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.app-container img {
    max-width: 100%;
    border-radius: 10px;
}